body{
    background: #ff6e6e;
    color: white;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, #a3ff4e, #4f5bff,  rgb(113, 0, 136), #4f5bff,#a3ff4e);
    animation: animate 10s infinite normal;
}
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.inputWrapper{
    text-align: center;
    width: 40%;
    float: left;
    margin-left: 5%;
    color: #f3d9d9;
}
#editor{
    box-shadow: 10px 10px 20px rgba(10, 10, 10, 0.411);
    border-radius: 5px;
    width: 100%;
    min-height: 70vh;
    padding: 5px;
    background-color: rgba(134, 134, 134, 0.418);
    outline: none;
    border: 2px solid rgb(30, 255, 0);
    color: white;
}
#editor::placeholder{
    color: rgb(243, 243, 243);
}
.prevWrapper{
    width: 40%;
    float: right;
    margin-right: 5%;
}
.prevWrapper .see{
    text-align: center;
    color: #f3d9d9;
}
#preview{
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    min-height: 68vh;
    background-color: #6f01ff52;
    box-shadow: 10px 10px 20px rgba(10, 10, 10, 0.411);
    overflow: hidden;
    word-wrap: break-word;
    margin-right: 5%;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.Instruction{
    width: 50%;
    position: relative;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    padding-bottom: 50px;
    z-index: -1;
}
.Instruction h2{
    text-align: center;
    color: #f3d9d9;
}
.content-instuction{
    background-color: #00000067;
    box-shadow: 10px 10px 20px rgba(10, 10, 10, 0.411);
    padding: 10px 30px;
    border-radius: 10px;
}
footer{
    margin-top: 150px;
    padding: 50px 0;
    text-align: center;
    background-color: black;
}
footer a {
    color: rgb(0, 140, 255);
    text-decoration: none;
}
@media (max-width: 400px){
    .prevWrapper .see, .inputWrapper h1{
        font-size: 20px;
    }
    #preview{
        width: 80%;
    }
    .arrow{
        font-size: 20px;
    }
    .Instruction{
        width: 80%;
    }
    .inputWrapper, .prevWrapper{
        float: none;
        width: 80%;
    }
    .prevWrapper{
        margin-right: 0;
        position: relative;
        left: 40%;
        transform: translateX(-65%);
    }
    .inputWrapper{
        margin-left: 10%;
    }
    #preview, #editor{
        min-height: 40vh;
    }
    #preview{
        width: 100%;
    }
    .arrow{
        display: none;
    }
}